<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-toastyplugin" version="0.0.1">
    <name>CardReaderPlugin</name>
    <author>Abhisak Chonchanakul</author>

    <description>An Android Cordova plugin that allows users to received data from Smart card reader.</description>
    <license>MIT</license>

    <keywords>cordova,android,smart card,card reader,reader</keywords>
    <repo>https://github.com/kobdesign/CardReaderPlugin.git</repo>
    <issue>https://github.com/kobdesign/CardReaderPlugin/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module src="www/smartcardreader.js" name="SmartCardReaderPlugin">
        <clobbers target="SmartCardReader" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SmartCardReaderPlugin">
                <param name="android-package" value="smartcard.redone.com.mykad"/>
            </feature>
        </config-file>

        <source-file src="src/android/SmartCardReaderPlugin.java" 	target-dir="src/smartcard/redone/com/SmartCardReader/"/>
        <source-file src="src/android/SmartCardReader_JPN.java" 	target-dir="src/smartcard/redone/com/SmartCardReader/"/>
        <source-file src="src/android/SmartCardReader_Data.java" 	target-dir="src/smartcard/redone/com/SmartCardReader/"/>
        <source-file src="src/android/SmartCardReader.java" 		target-dir="src/smartcard/redone/com/SmartCardReader/"/>
        <source-file src="src/android/Helper.java" 			        target-dir="src/smartcard/redone/com/SmartCardReader/"/>
        <source-file src="src/android/CardReader.java" 		        target-dir="src/smartcard/redone/com/SmartCardReader/"/>
        <source-file src="src/android/acssmc-1.1.2.jar" 	        target-dir="libs"/>
    </platform>
</plugin>